/* Header1 CSS */
.header{
    position: fixed;
    margin: 0 auto;
    left:0;
    right: 0;
    padding: 0;
    background-color: white;
}

.head1 {
    background-color: transparent; 
    width:1000px;
    height:50px;
    margin: 0 auto;

}
.head2 {
    background-color: transparent; 
    width:1000px;
    height:50px;
    margin: 0 auto;

}

.postype-logo {
    font-size: 25px;
    font-weight: bolder;
    margin-left: 10px;
    display: inline;
    float: left;
    line-height:50px;
    font-family: ns-bold;
}
.category {
    width: 100px;
    height: 50px;
    font-size: 10px;
    margin-left: 15px;
    display: inline;
    float: left;
}

.category>.category-logo{
    display: inline;
    float: left;
    line-height:50px;
    font-family: ns-thin;
    font-size: 12px;
}

.category>.material-symbols-outlined{
    display: inline;
    float: left;
    line-height:50px;
    text-decoration: none;
}
.searchbox {
	margin: auto 0;
    width: 180px;
    height: 50px;
    display: inline;
    padding: 0;
    margin: 0;
}


.searchbox>input[name=searchbox]{
    padding: 0;
	width: 240px;
	height: 20px;
    margin-top: 15px;
    margin-right: 0px;
	margin-left: 500px;
    font-family: ns-thin;
    background-image: url(/TeamPostype/kimsoyeon/image/search.png);
    border-bottom-left-radius: 160px;
	border-bottom-right-radius: 160px;
	border-top-left-radius: 160px;
	border-top-right-radius: 160px;
    background-repeat: no-repeat;
    background-position: 2% 3px;
 	border: 1px solid rgba(0,0,0,.1);
    background-size: 20px;
    padding-left: 30px;
    border-radius: 10px;
   	background-color: rgb(250, 250, 250);
   
}

.cleakbox{
    width: 85px;
    height: 50px;
    display: inline;
    float: right;
    margin-top: 20px;
}

.head2 {
    width:800px;
    height:50px;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.webtoon{
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    line-height: 50px;
    font-size: 15px;
    font-family: ns-m;
    text-align: center;
}

.HRN> div{
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.HRN>.tab1{
    width: 50px;
    height: 50px;
    margin-left: 300px;
    border-bottom: 3px solid black;
}

.HRN>.tab2{
    width: 50px;
    height: 50px;
}

.HRN>.tab3{
    width: 50px;
    height: 50px;
}

ul {
	float: left;
	text-decoration-line: none;
	text-color: black;
}

/* hr { */
/* 	width: 70%; */
/* } */

/* .arrow-right{ */
/* 	display: inline-block; */
/* 	width: 10px; */
/* 	height: 10px; */
/* 	border-top: 2px solid gray; */
/* 	border-right: 2px solid gray; */
/* 	transform: rotate(45deg); */
/* 	margin-left: 100px; */
/* 	margin-right: 400px; */
/* } */

hr {
	background-color: #E3E3E3;
}

#btn1 {
	border: 0px;
	background-color: #E8E8E8;
	color: #B8B8B8;
	padding: 5px 5px;
	font-size: 7px;
	border-radius: 5px;
}

#btn2 {
	border: 0px;
	background: #D7E6FF;
	color: #5C88FF;
	padding: 5px 5px;
	font-size: 5px;
	border-radius: 5px;
}

img {

	margin: 10px;
	border-radius: 6px;
}

.menu1 {
	margin-left: 200px;
}

.section1 {
	display: flex;
    justify-content : center;
    margin-left: 125px;
    
}

.section2{
	display: flex;
    justify-content : center;
    margin-left: 125px;	
}

.section3 {
	display: flex;
    justify-content : center;
    margin-left: 325px;
}

.section4{
	display: flex;
    justify-content : center;
    margin-left: 325px;
}

/* FOOTER_STYLE */


.footer {
   display: flex;
   flex-direction: column;
   padding: 24px 0 25px;
   text-align: center;
   color: #909090;
   border-top: 1px solid rgba(0,0,0,.05);
   width: 1425px;
   height: 100px;
}

.list-inline > a:hover {
  color : #007bff;
}

.list-inline-item {
   text-decoration: none;
   font-size: 12px;
   color: rgb(144, 144, 144);
   width: 55px;
   height: 20px;
   border-right: 1px solid rgba(0,0,0,.1);
   padding-right: 5px;
}

.list-inline-item-none {
   text-decoration: none;
   font-size: 12px;
   color: rgb(144, 144, 144);
   margin-right: 20px;
}

.list-inline-item-copyright {
   text-decoration: none;
   font-size: 14px;
   font-weight: 500px;
   color: rgb(144, 144, 144);
}

.footer address > span {
   font-size: 12px;
   font-style: normal;
   max-width: 640px;
   margin: 20px auto 0;
   text-align: center;
   word-break: keep-all;
   -webkit-font-smoothing: antialiased;
   color: #b4b4b4;
}

.footer address .info {
   border-right: 1px solid rgba(0,0,0,.1);
   padding-right: 7px;
}

.footer .guide {
   font-size: 12px;
   text-align: center;
   word-break: keep-all;
   -webkit-font-smoothing: antialiased;
   color: #b4b4b4;
}

.content {
	padding-top: 120px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;	
	
	
}

#sliderbox {
	width: 500px;
	height: 600px;
	border: none;

	/* 외부 정렬 */
	margin: 0 auto;

	/* div영역을 벗어난 부분 안보이도록 처리 */
 	overflow: hidden;
/* 	overflow: visible; */
}

#slider {
	/* ul태그의 기본 스타일 제거 */
	padding-top: 120;
	margin: 0;
	list-style-type: none;
	
	/* 자식요소 absolute를 받은 li태그의 기준점으로 설정하기 */
	position: relative;	
}

#slider li {
	position: absolute;
}

#slider li img {
	width: 400px;
	height: 600px;
	margin: auto 0;
	margin-left: 95px;
	
}

