/* Header1 CSS */
.header{
    position: fixed;
    margin: 0 auto;
    left:0;
    right: 0;
    padding: 0;
}

.head1 {
    background-color: transparent; 
    width:800px;
    height:50px;
    margin: 0 auto;

}

.postype-logo {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10px;
    display: inline;
    float: left;
    line-height:50px;
    font-family: ns-bold;
}
.category {
    width: 100px;
    height: 30px;
    font-size: 10px;
    margin-left: 15px;
    display: inline;
    float: left;
}

.category>.category-logo{
    display: inline;
    float: left;
    line-height:50px;
    font-family: ns-thin;
    font-size: 12px;
}

.category>.material-symbols-outlined{
    display: inline;
    float: left;
    line-height:50px;
    text-decoration: none;
}
.searchbox{
    width: 200px;
    height:40px;
    display: inline;
    padding: 0;
    margin: 0;
}


.searchbox>input[name=searchbox]{
    padding: 0;
    width: 200px;
    height: 20px;
    margin-top: 15px;
    margin-left: 250px;
    font-family: ns-thin;
    background-image: url(/TeamPostype/kimsoyeon/image/search.png);
    background-repeat: no-repeat;
    background-position: 2% 3px;
    border: 1px solid gainsboro;
    background-size: 15px;
    padding-left: 30px;
    border-radius: 10px;
    background-color: rgb(244, 243, 243);
}

.cleakbox{
    width: 100px;
    height: 30px;
    display: inline;
    float: right;
    margin-top: 15px;
}

.head2 {
    width:800px;
    height:50px;
    margin: 0 auto;
    border-left: none;
    border-right: none;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.webtoon{
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    line-height: 50px;
    font-size: 15px;
    font-family: ns-m;
    text-align: center;
}

.HRN> div{
    width: 50px;
    height: 50px;
    display: inline;
    float: left;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.HRN>.tab1{
    width: 50px;
    height: 50px;
    margin-left: 300px;
    border-bottom: 3px solid black;
}

.HRN>.tab2{
    width: 50px;
    height: 50px;
}

.HRN>.tab3{
    width: 50px;
    height: 50px;
}